.item {
    margin: 15px auto;
    padding: 5px;
    border-radius: 10px;
    max-width: 500px;
}
.btn {
    margin: 20px auto;
    display: flex;
    align-content: flex-start;
}
.btn button {
    margin-left: auto;
}